cachetools==5.5.1
    # via google-auth
certifi==2024.12.14
    # via requests
charset-normalizer==3.4.1
    # via requests
google-api-core[grpc]==2.24.0
    # via
    #   -r requirements.in
    #   google-cloud-dialogflow-cx
google-auth==2.35.0
    # via
    #   google-api-core
    #   google-cloud-dialogflow-cx
google-cloud-dialogflow-cx==1.38.0
    # via -r requirements.in
googleapis-common-protos==1.66.0
    # via
    #   google-api-core
    #   grpcio-status
grpcio==1.70.0
    # via
    #   google-api-core
    #   grpcio-status
grpcio-status==1.70.0
    # via
    #   -r requirements.in
    #   google-api-core
idna==3.10
    # via requests
livekit==0.18.2
    # via -r requirements.in
proto-plus==1.25.0
    # via
    #   google-api-core
    #   google-cloud-dialogflow-cx
protobuf==5.29.3
    # via
    #   -r requirements.in
    #   google-api-core
    #   google-cloud-dialogflow-cx
    #   googleapis-common-protos
    #   grpcio-status
    #   livekit
    #   proto-plus
pyasn1==0.4.8
    # via
    #   pyasn1-modules
    #   rsa
pyasn1-modules==0.2.8
    # via google-auth
requests==2.32.3
    # via google-api-core
rsa==4.9
    # via google-auth
types-protobuf==4.25.0.20240417
    # via livekit
urllib3==2.3.0
    # via requests
